<PaperSidenav
  class="md-whiteframe-z2"
  @name="left"
  @lockedOpen={{this.args.sideBarOpen}}
>
  <PaperToolbar>
    <div class="logo layout-column layout-align-center-center">
      {{svg-jar "logo" width="50px" height="50px"}}
      <div>
        {{t "side_bar.title"}}
      </div>
    </div>
  </PaperToolbar>
  <PaperContent>
    <PaperList>
      {{#each (array "dashboard" "users" "settings") as |navItem|}}
        {{!-- can also use ember link by jan --}}
        {{!-- template only component use for this guy --}}
        <LinkTo @route={{navItem}}>
          <PaperButton>
            <PaperItem>
              {{svg-jar navItem class="md-avatar"}}
              <div class="md-list-item-text">
                {{t (concat "side_bar." navItem)}}
              </div>
            </PaperItem>
          </PaperButton>
        </LinkTo>
        <PaperDivider @inset=true />
      {{/each}}
    </PaperList>
  </PaperContent>
</PaperSidenav>