<PaperSidenav
  @class="md-whiteframe-z2"
  @name="left"
  @lockedOpen={{@sideBarOpen}}
>
  <PaperToolbar local-class="toolbar">
    <div
      local-class="logo"
      class="layout-column layout-align-center-center"
    >
      {{svg-jar "logo" local-class="logo__icon"}}
      <h1 local-class="logo__title">
        {{t "side_bar.title"}}
      </h1>
    </div>
  </PaperToolbar>
  <PaperContent>
    <PaperList>
      {{#each (array "dashboard" "users" "settings") as |navItem|}}
        {{!-- can also use ember link by jan --}}
        {{!-- template only component use for this guy --}}
        <LinkTo @route={{navItem}} local-class="link">
          <PaperButton local-class="link__button">
            <PaperItem>
              {{svg-jar navItem class="md-avatar"}}
              <div class="md-list-item-text">
                {{t (concat "side_bar." navItem)}}
              </div>
            </PaperItem>
          </PaperButton>
        </LinkTo>
        <PaperDivider @inset={{true}} />
      {{/each}}
    </PaperList>
  </PaperContent>
</PaperSidenav>