<div class="layout layout-row layout-align-center-center layout-fill">
  <PaperCard
    class="layout layout-column flex-70" as |Card|
  >
    <Card.title>
      <h2>
        {{t 'pages.register'}}
      </h2>
    </Card.title>
    <Card.content>
      <PaperForm
        class="layout-column"
        @onSubmit={{this.submit}}
        @preventDefault={{true}} as |Form|
      >
        <Form.input
          @type="text"
          @placeholder={{t "register.user_name.placeholder"}}
          @onChange={{action (mut this.username)}}
          @required="true"
          @value={{this.username}}
        />
        <Form.input
          @type="password"
          @placeholder={{t "register.password.placeholder"}}
          @onChange={{action (mut this.password)}}
          @required="true"
          @value={{this.password}}
        />

        {{#if @register.last.isError}}
          <div local-class="error">
            {{t @register.last.error.error}}
          </div>
        {{/if}}

        <Form.submit-button
          @raised={{true}}
          @primary={{true}}
          @disabled={{if (or this.invalid @register.running) true}}
        >
          {{t "register.submit"}}
        </Form.submit-button>

      </PaperForm>
    </Card.content>
  </PaperCard>
</div>

