<PaperToolbar>
  <PaperToolbarTools>
    <PaperButton
      @iconButton={{true}}
      @onClick={{@toggleSideBar}}
      @disabled={{not @user.details}}
    >
      <PaperIcon @icon="menu" />
    </PaperButton>
    <h2>
      {{this.title}}
    </h2>
    <div class="flex"></div>
    {{#if @user.details}}
      <PaperButton
        @iconButton={{true}}
        @onClick={{this.logout}}
      >
        <PaperIcon @icon="exit_to_app" />
        <PaperTooltip @position="bottom">
          {{t "header.logout"}}
        </PaperTooltip>
      </PaperButton>
    {{/if}}
  </PaperToolbarTools>
</PaperToolbar>